<!DOCTYPE html>
<html ng-app="productos">
	<head>
		<meta charset="utf-8">
		<title> Modificar Servicios | Rapidomic</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel=stylesheet href="estilo.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Rubik|Lobster" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="controller.js"></script>
	</head>
	<header class="header">
		<div class="page-header">
			<div class="">
					<a class="" href="menuAdm.html"><h1 class="mensaje">Rapidomic<h1></a>
				</div>	
		</div>
	</header>

	<body ng-controller="traerProductos">
		<!-- Id -->
		<div class="form-group">
  			<label class="col-md-6 control-label" for="nombre"></label>  
  			<div class="col-md-3">
  				<input type="text" ng-model="borrar.id" class="form-control input-md" placeholder="ingrese el Id del servicio" required>
  			</div>
		</div>
		<!-- Nombre -->
		<div class="form-group">
  			<label class="col-md-6 control-label" for="nombre"></label>  
  			<div class="col-md-3">
  				<input type="text" ng-model="newPost.nombre" class="form-control input-md" placeholder="ingrese nombre para el servicio" required>
  			</div>
		</div>
		<!-- Imagen -->
		<div class="form-group">
  			<label class="col-md-6 control-label" for="imagen"></label>  
  			<div class="col-md-3">
  				<input type="text" ng-model="newPost.imagen" class="form-control input-md" placeholder="ingrese ruta de imagen" required>
  			</div>
		</div>
		<!-- Descripcion -->
		<div class="form-group">
  			<label class="col-md-6 control-label" for="imagen"></label>  
  			<div class="col-md-3">
  				<textarea ng-model="newPost.descripcion" class="form-control input-md" placeholder="ingrese una breve descripcion" required></textarea>
  			</div>
		</div>
		<!-- Boton crear servicio -->
		<div class="form-group">
			<label class="col-md-6 control-label"></label>
			<div class="col-md-3">
				<button type="submit" ng-click="modificarServicio()" class="col-md-8 btn btn-danger">Modificar Servicio</button>
			</div>
		</div>
	</body>

</html>